<form action="/fruits/add" method="post" enctype="multipart/form-data">
    <input type="text" placeholder="Name" name="name">
    <input type="number" placeholder="So Luong" quantity="quantity">
    <input type="number" placeholder="Gia" name="price">
    <input type="number" placeholder="Trang Thai" name="status">
    <input type="file" placeholder="Chon Anh" name="image" accept="image/*">
    <input type="text" placeholder="Mo ta san Pham" name="description">
    <input type="text" placeholder="id nha cung cap" name="id_distributor">
    <button type="submit">Submit</button>
</form>